**1.To find the reverse of a given number.**

In [ ]:
n =int(input('Enter a number : '))

rev = 0

while (n>0):
  digit = n%10
  rev = rev*10 + digit
  n//=10
print('The reverse of the given number is : ',rev)

Enter a number : 123
The reverse of the given number is :  321

**2.To find the sum of first N natural numbers.**

In [ ]:
n=int(input('Enter limit : '))
sum=0

for i in range(1,n+1):
  sum=sum+i
print('Sum of first n natural number is : ',sum)

Enter limit : 5
Sum of first n natural number is :  15

**3.To print the sum of the factors of a number.**

In [ ]:
n=int(input('Enter a number : '))
sum=0
f=1
print('Factors : ')
for f in range(1,n+1):
  if n%f==0:
    print(f,end=' ')
    sum=sum+f
print('\nSum of factors is : ',sum)

Enter a number : 15
Factors :
1 3 5 15
Sum of factors is :  24

**4.To print N terms of an arithmetic sequence.**

In [ ]:
n=int(input('Enter the number of terms : '))
d=int(input('Enter the common difference : '))
a=int(input('Enter the first term of the AP : '))
i=0
m=0

print('AP is : ')
while n>i:
  i=i+1
  m=a+((i-1)*d)
  print(m,end=' ')

Enter the number of terms : 5
Enter the common difference : 2
Enter the first term of the AP : 2
AP is :
2 4 6 8 10

**5.To print the n terms of the fibonacci series.**

In [ ]:
n=int(input('Enter the limit : '))
f1=0
f2=1
print('Fibonacci series : ')
while n>=f1:
  f3=f1+f2
  print(f1)
  f1=f2
  f2=f3

Enter the limit : 5
Fibonacci series :
0
1
1
2
3
5

**6.To check whether a number is palindrome or not.**

In [ ]:
n=int(input('Enter a number : '))
var=n
rev=0
while(n>0):
  rm=n%10
  rev=(rev*10)+rm
  n=n//10
if(var==rev):
  print('The number is palindrome')
else:
  print('The number is not palindrome')

Enter a number : 123
The number is not palindrome

**7.To check whether a number is Armstrong or not**

In [ ]:
n=int(input('Enter a number : '))
sum=0
temp=n
while temp>0:
  digit=temp%10
  sum += digit**3
  temp=temp//10
if(n==sum):
  print(n,'is an armstrong number.')
else:
  print(n,'is not an armstrong number.')

Enter a number : 153
153 is an armstrong number.

**8.To evaluate x^n**

In [ ]:
x=int(input('Enter the value of x : '))
n=int(input('Enter the exponent : '))
ans=x**n
print('The value of x^n is : ',ans)

Enter the value of x : 2
Enter the exponent : 3
The value of x^n is :  8

**9.To print first n odd number.**

In [ ]:
n=int(input('Enter the limit : '))
i=1
print('First n odd numbers is : ')
for i in range(1,n+1,2):
  print(i,end=' ')

Enter the limit : 10
First n odd numbers is :
1 3 5 7 9

**10.To print GCD of two numbers.**

In [ ]:
n1=int(input('Enter the first number : '))
n2=int(input('Enter the second number : '))
gcd=0
c=0
while(c<n1):
  c=c+1
  if(n1%c==0 and n2%c==0):
    gcd=c
if(gcd==0):
  print('No GCD')
else:
  print('GCD is : ',gcd)

Enter the first number : 2
Enter the second number : 4
GCD is :  2

**11.To print factorial of a given number.**

In [ ]:
n=int(input('Enter a number : '))
fact=1
if(n==0):
  print('Factorial is 1')
else:
  while(n>1):
    fact=fact*n
    n=n-1
  print('Factorial of the number is : ',fact)

Enter a number : 5
Factorial of the number is :  120

**12.To find squares of natural numbers between two numbers.**

In [ ]:
n1=int(input('Enter first number : '))
n2=int(input('Enter second number : '))
print('Squares of natural number between two numbers : ')
while(n1<=n2):
  squareofnum=n1**2
  print(squareofnum)
  n1=n1+1

Enter first number : 1
Enter second number : 5
Squares of natural number between two numbers :
1
4
9
16
25

**13.** To find the sum of the given series,
up to n terms. S = 1 - 4 + 9 - 16 + ...

In [ ]:
n=int(input('Enter the value of n : '))
sum=0
i=1
sign=1
while(i<=n):
  sign=(-1)**(i+1)
  sum=sum+((i**2)*sign)
  i=i+1
print('Sum is : ',sum)

Enter the value of n : 2
Sum is :  -3

**14.**To check whether a given number
is Automorphic or not.

In [ ]:
n=int(input('Enter the num : '))
c=0
sqr=n*n
temp=n
while(temp>=1):
  c=c+1
  temp=temp//10
if(n==sqr%10**c):
  print(n,' is Automorphic')
else:
  print(n,' is not Auotomorphic')

Enter the num : 6
6  is Automorphic

**15.**To read a binary number and print
its decimal equivalent.

In [ ]:

n=int(input('Enter the binary number : '))
i=0
decimal=0
while(n>=1):
  lastdig=n%10
  n=n//10
  decimal=decimal+lastdig*2**c
  i=i+1
print('Decimal number is : ',decimal)

Enter the binary number : 202
Decimal number is :  8